# 기본 관리자 계정 정보 (선택적으로 수정하세요)
ADMIN_USERNAME=admin
# 기본 비밀번호 petclinic123! 의 bcrypt 해시
ADMIN_PASSWORD_HASH=$2b$10$XwWmpcSjyrFlfy4750lzwOJFOmk2975tsQaBJ/LB3///DpiDjWDjW
# 세션 암호화 키
SESSION_SECRET=change-me
# 서버 포트 설정
# PORT=3000
